{% extends "base.html" %} {% block content %}

<!-- Left Sidebar End -->

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">
	<div class="page-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-12 col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="tab-content">
								<div class="tab-pane show active" id="dashboard">
									<div class="table-responsive">
										<div class="col-12">
											<div class="card">
												<div class="card-body">
													<h4
														class="card-title font-size-18 text-uppercase"
													></h4>
													<p class="card-subtitle mb-4"></p>
													<div class="row">
														<div class="col-md-6 col-xl-3">
															<div class="card">
																<div class="card-body">
																	<div class="mb-4">
																		<h5 class="card-title mb-0">SOLDE MOYEN</h5>
																	</div>
																	<div
																		class="row d-flex align-items-center mb-4"
																	>
																		<div class="col-8">
																			<h2
																				class="d-flex align-items-center mb-0"
																			>
																				{{context.balance_mean}}
																			</h2>
																		</div>
																	</div>
																</div>
																<!--end card body-->
															</div>
															<!-- end card-->
														</div>
														<!-- end col-->

														<div class="col-md-6 col-xl-3">
															<div class="card">
																<div class="card-body">
																	<div class="mb-4">
																		<h5 class="card-title mb-0">
																			FREQUENCE ACHAT
																		</h5>
																	</div>
																	<div
																		class="row d-flex align-items-center mb-4"
																	>
																		<div class="col-8">
																			<h2
																				class="d-flex align-items-center mb-0"
																			>
																				{{context.purchases_freq_mean}} %
																			</h2>
																		</div>
																	</div>

																	<div
																		class="progress shadow-sm"
																		style="height: 5px"
																	>
																		<div
																			class="progress-bar bg-danger"
																			role="progressbar"
																			style="width: 57%"
																		></div>
																	</div>
																</div>
																<!--end card body-->
															</div>
															<!-- end card-->
														</div>
														<!-- end col-->

														<div class="col-md-6 col-xl-3">
															<div class="card">
																<div class="card-body">
																	<div class="mb-4">
																		<h5 class="card-title mb-0">
																			TOTAL D'ACHAT
																		</h5>
																	</div>
																	<div
																		class="row d-flex align-items-center mb-4"
																	>
																		<div class="col-8">
																			<h2
																				class="d-flex align-items-center mb-0"
																			>
																				{{context.purchases_trx_sum}}
																			</h2>
																		</div>
																	</div>
																</div>
																<!--end card body-->
															</div>
															<!--end card-->
														</div>
														<!-- end col-->

														<div class="col-md-6 col-xl-3">
															<div class="card">
																<div class="card-body">
																	<div class="mb-4">
																		<h5 class="card-title mb-0">
																			PAYEMENT MOYEN
																		</h5>
																	</div>
																	<div
																		class="row d-flex align-items-center mb-4"
																	>
																		<div class="col-8">
																			<h2
																				class="d-flex align-items-center mb-0"
																			>
																				{{context.payments_mean}}
																			</h2>
																		</div>
																	</div>
																</div>
																<!--end card body-->
															</div>
															<!-- end card-->
														</div>
														<!-- end col-->
													</div>
													<div class="row">
														<div class="col-md-12">
															<form action="" method="post" name="cluster">
																<label>Choisissez le cluster:</label>
																<select class="form-control" name="cluster" onchange="this.form.submit()">
																<option value="Cluster 1.0">Cluster 1</option>
																<option value="Cluster 2.0">Cluster 2</option>
																<option value="Cluster 3.0">Cluster 3</option>
																<option value="Cluster 4.0">Cluster 4</option>
																</select>
															</form>
														</div>
													</div>

													<!-- Début -->
													<style>
														table {
															border-collapse: collapse;
															width: 100%;
														}
														th, td {
															border: 1px solid black;
															padding: 8px;
															text-align: center;
														}
														.pagination {
															display: flex;
															justify-content: center;
															margin-top: 20px;
														}
														.pagination a {
															color: black;
															float: left;
															padding: 8px 16px;
															text-decoration: none;
															transition: background-color .3s;
														}
														.pagination a.active {
															background-color: #4CAF50;
															color: white;
														}
														.pagination a:hover:not(.active) {
															background-color: #ddd;
														}
													</style>
												</head>
												<body>
													<table class="table table-bordered">
														<thead>
															<tr>
																<th>CUST_ID</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
																<th>INFO</th>
															</tr>
														</thead>
														<tbody>
															<!-- Ajoutez ici le contenu des lignes du tableau -->
															{% for row in data %}
															<tr>
																<td>{{row['CUST_ID']}}</td>
																<td>{{row['BALANCE']}}</td>
																<td>{{row['BALANCE_FREQUENCY']}}</td>
																<td>{{row['PURCHASES']}}</td>
																<td>{{row['ONEOFF_PURCHASES']}}</td>
																<td>{{row['INSTALLMENTS_PURCHASES']}}</td>

																<td>{{row['CASH_ADVANCE']}}</td>
																<td>{{row['PURCHASES_FREQUENCY']}}</td>
																<td>{{row['ONEOFF_PURCHASES_FREQUENCY']}}</td>
																<td>{{row['PURCHASES_INSTALLMENTS_FREQUENCY']}}</td>
																<td>{{row['CASH_ADVANCE_FREQUENCY']}}</td>

																<td>{{row['CASH_ADVANCE_TRX']}}</td>
																<td>{{row['PURCHASES_TRX']}}</td>
																<td>{{row['CREDIT_LIMIT']}}</td>
																<td>{{row['PAYMENTS']}}</td>
																<td>{{row['MINIMUM_PAYMENTS']}}</td>

																<td>{{row['PRC_FULL_PAYMENT']}}</td>
																<td>{{row['TENURE']}}</td>
																
																
															</tr>
															{% endfor %}
														</tbody>
													</table>
												
													<nav aria-label="Page navigation">
														<ul class="pagination justify-content-center">
															<li class="page-item active"><a class="page-link" href="#">1</a></li>
															<li class="page-item"><a class="page-link" href="#">2</a></li>
															<!-- ... -->
														</ul>
													</nav>
												
													<!-- Fin -->

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end card-body-->
						</div>
						<!-- end card-->
					</div>
					<!-- end col -->
				</div>

				<!-- end row-->
			</div>
			<!-- container-fluid -->
		</div>
		<!-- End Page-content -->
	</div>
	{% endblock %}
</div>
